/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
:root{
    --soft-blue:hsl(215, 51%, 70%);
    --cyan:hsl(178, 100%, 50%);
    --very-dark-blue-main:hsl(217, 54%, 11%);
    --very-dark-blue-card:hsl(216, 50%, 16%);
    --very-dark-blue-line:hsl(215, 32%, 27%);
    --white:hsl(0, 0%, 100%);
    --font-family: 'Outfit', sans-serif;

}
main{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}
.container{
    max-width: 16.5rem;
    background-color: var(--very-dark-blue-card);
    border-radius: 1rem;
    padding: 1.5rem;
}
body{
  background-color: var(--very-dark-blue-main);
  font-family: var(--font-family);

}
p{
  color: var(--soft-blue);
  font-size: 14px;
}
.title{
  color: var(--white);
  font-size: 17px;
  margin:1rem 1rem 1rem 0 
}
.information{
  margin-bottom: 1rem;
}
.money{
  display:flex;
  gap:4rem;
  margin-bottom: 1rem;
}
.creator{
  margin-top: 1rem;
}
.dice{
  border-radius: 0.5rem;
}
.balance{
  color: var(--cyan);
  font-weight: bold;
  background-image: url(images/icon-ethereum.svg);
  background-repeat: no-repeat;
  padding-left: 15px;
  white-space: nowrap;
}
.days{
  background-image: url(images/icon-clock.svg);
  background-repeat: no-repeat;
  padding-left: 17px;
  white-space: nowrap;
}
hr{
  border:0.1px solid var(--very-dark-blue-line);
}
.about-creator{
  display:flex;
  margin-top: 1rem;
  gap:1rem
}
.avatar{
  width:40px;
  border:1px solid var(--white);
  border-radius: 2rem;
}